.container
{width: 50%;
 height: 360px;
 margin-left: 25%;
 margin-right: 25%;
 text-align: center;
 background-color: #ffffff;
 margin-top: 10%;
}

.connexion{
    background-color:#45b4d6;
    height: 50px;
    width: 20%;
    margin-top: 15px;
    margin-left: 5%;
    float:left;
    border-radius: 5px;
    border:0px;
    font-size: 20px;
    color:#ffffff;

     
}


.logo{
float: left;
    height:100% ;
    width: 5%;
}
.logo img{
    width: 100%;
    height: 100%;
}
nav{
    width: 100%;
    height: 60px;
    background-color:#090625;
    
}
.log{
    height: 100%;
}
.h2{
text-align: center;
color: white;
font-size: 35px;
float: left;
width: 25%;
height: 30px;
margin-left: 30%;
margin-top: 25px;
}
#cadre{
    height:655px ;
    width: 100%;
    background-image: url("Images/img-bg.jpg");
    background-size: cover ;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

/* La partie concernant les champs */

.champ {
    float: left;
    width: 90%;
    height: 70px;
    margin-left: 5%;
    background: #eeeeee;
    margin-top:5%;
}
.username{
    float: left;
    width: 80%;
    height: 68px;
    margin-left: 5%;
    background: #eeeeee;
    border: 0px;
    font-size: 20px;
}
.icone {
    float: left;
    width: 10%;
    height: 35px;
    margin-left: 2.2%;
    margin-top: 3%;
}
.icone img {
    width: 100%;
    height: 100%;
}

.password{
    float: left;
    width: 80%;
    height: 68px;
    margin-left: 5%;
    background: #eeeeee;
    border: 0px;
    font-size: 20px;
    
}

.login{
    width: 100%;
    height: 60px;
    background-color:#45b4d6;
}
.text{
    float: left;
    width: 20%;
    height: 25px;
    color:#ffffff;
    font-size: 20px;
    margin-top: 2.5%;
    margin-left: 2%;
}
a{
    float: left;
    width: 30%;
    height: 35px;
    margin-left: 5%;
    margin-top:25px ;
    font-size: 22px;
    text-decoration:none;
    color: #949494;
}
